* {
    background-color: teal;
}

#formid {
    width: 30%;
    margin: auto;
    margin-top: 150px;
    padding: 40px 60px 40px 40px;
    background-color: white;
}

#formid input {
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 25px;
}

#formid input,
textarea {
    background-color: white;
}

#formid #loginBtn {
    width: 107%;
    background-color: blue;
    color: white;
    cursor: pointer;
}

#formid .signupLink,
#formid .signupLink a {
    background-color: white;
    font-size: 18px;
}

#formid .signupLink {
    margin-left: 5px;
}

#formid .signupLink a {
    color: blue;
}